 body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
}
.menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin: 0 15px;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover {
    color: #00ccff;
}
.hero {
    height: 100vh;
    background: linear-gradient(to right, #0066ff, #00ccff);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.btn {
    background: white;
    color: #0066ff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}
.btn:hover {
    background: #00ccff;
    color: white;
}
.about {
    padding: 50px 20px;
    text-align: center;
}
.about-content {
     display: flex; 
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.services {
    background: #f8f9fa;
    padding: 50px 20px;
    text-align: center;
    display: flex;
}
.service-card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}
.portfolio {
    padding: 40px 20px;
    background: #e9ecef;
}
.portfolio a{
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.portfolio a:hover{
    background-color: black;
    color: white;
}
.portfolio p{
    color: #00ccff;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
} 
  
 


